.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  background-color: #003477;
  color: #fff;
  min-height: 5cm;
}

.resumeBody {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.resumeHeader {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #f5f5f5;
  font-weight: bold;
}

.resumeSubsectionContainer {
  display: flex;
  flex-direction: column;
}

.resumeEntries {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0rem;
}
